<section class="xxs:text-xs relative min-h-[500px] h-[85vh] flex flex-col items-center justify-start">

    <section
        [ngClass]="{
            'block': isFormShow,
            'hidden': !isFormShow
        }" 
        class="absolute top-1/2 left-1/2 z-50 transform -translate-x-1/2 -translate-y-1/2 p-5 rounded-lg w-[30%] max-w-full">
            <app-form 
            [(hiringManagerName)]="hiringManagerName"
            [(companyName)]="companyName"
            [(companyAddress)]="companyAddress"
            [(jobTitle)]="jobTitle"
            ></app-form>
    </section>

    
    <section 
    [ngClass]="{
        'blur-sm bg-white/30': isFormShow,
        'blur-none bg-white': !isFormShow
    }" 
    class="flex z-10 flex-col gap-7 tracking-wide transition-all duration-300 ">
        <header class="flex flex-col gap-7">

            <ul class="flex flex-col gap-2">
                <li class="font-semibold">Jon Arbell De Ocampo</li>  
                <li>Kalayaan Ave. West Rembo, Taguig City</li>
                <li>{{'deocampo.arbelldonor@gmail.com'}}</li>
                <li>0977-446-9490</li>
                <li>Portfolio: <a href="https://deocampo-jon-arbell-d.netlify.app">https://deocampo-jon-arbell-d.netlify.app</a></li>
    
            </ul>
    
            <ul class="flex flex-col gap-2">

                @if(hiringManagerName){
                    <li class="font-semibold">{{hiringManagerName}}</li>
                }

                <li class="font-semibold">{{companyName}}</li>

                @if(companyAddress){
                    <li>{{companyAddress}}</li>
                }

            </ul>
    
        </header>
        
        <p><strong>Subject:</strong> Application for <strong>{{jobTitle}}</strong> Position</p>
    
        <main class="flex flex-col gap-2">
    
            <p>I am excited to apply for the <strong>{{jobTitle}}</strong> position at <strong>{{companyName}}</strong>. With a strong background in <strong>Java, Spring Boot, Spring Data JPA, Spring Security, Angular, JavaScript, TypeScript, Tailwind CSS, and Git,</strong> I am eager to contribute my expertise in developing efficient, secure, and scalable applications.</p>
        
            <p>Through personal projects and continuous learning, I have built web applications that integrate Spring Boot for backend development and Angular for frontend development, ensuring secure and scalable solutions. I am comfortable working with Git for version control and using Postman for API testing. My passion for problem-solving and writing clean, maintainable code drives me to continuously improve and stay updated with modern development practices.</p>
    
            <p>I am particularly interested in <strong>{{companyName}}</strong> because of its commitment to innovation and excellence in software development. I am eager to contribute my skills, learn from experienced professionals, and grow within a collaborative environment.</p>
    
            <p>I welcome the opportunity to further discuss how I can contribute to your team. <strong>Please feel free to contact me</strong> at your convenience to arrange an interview. Thank you for your time and consideration.</p>
    
        </main>
    
        <footer class="flex flex-col gap-2">
            <p class="font-semibold">Sincerely,</p>
            <p>Jon Arbell De Ocampo</p>
        </footer>
    </section>

</section>

<!-- Button to Toggle Form -->
<section class="print:hidden w-full flex items-center justify-center min-h-[105px] h-[15vh]">

    <button class="xxs:text-xs cursor-pointer font-semibold bg-blue-500 text-white px-4 py-2 rounded-lg shadow-md hover:bg-blue-600 transition-all duration-300" (click)="showHideButton()">
        {{isFormShow ? 'Hide Form' : 'Show Form'}}
    </button>

</section>
