/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@theme {
    --default-font-family: sans-serif;
    --breakpoint-3xl: 108rem; /* 1728px */
    --breakpoint-xxs: 360px;
}
