<section class="flex flex-col gap-5 p-5 rounded-md border-2 !bg-white">
    
    <h3 class="p-2 text-center">Input Data</h3>

    <input class="p-2 px-4 placeholder:text-gray-400" [(ngModel)]="hiringManagerName" placeholder="Hiring Manager's Name">

    <input class="p-2 px-4 placeholder:text-gray-400" [(ngModel)]="companyName" placeholder="Company Name">
    <input class="p-2 px-4 placeholder:text-gray-400" [(ngModel)]="companyAddress" placeholder="Company Address">
    <input class="p-2 px-4 placeholder:text-gray-400" [(ngModel)]="jobTitle" placeholder="Job Title">

</section>